@import 'variables';
@import 'mixins';

.newDiary-hint {
    font-size: 1.8rem;
    font-weight: 500;
    color: red;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.newEntry {

    &-main {

        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 3rem;
        padding: 0 3rem;
        margin-top: 6rem;

        @include respond(s) {
            grid-template-columns: 1fr;
        }

    }

    &-form {
        display: grid;
        grid-template-rows: 4rem min-content 4rem 9rem;
        grid-gap: 1rem;

        input,
        textarea {
            border-radius: .5rem;
            border: none;
            border-bottom: 3px solid transparent;
            padding: 1rem;
            font-size: 1.5rem;
            font-family: inherit;
            color: $color-grey-dark-2;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $color-grey-light-2;
            }

        }
    }

    &-uploader {
        @include respond(s) {
            grid-row: 1 / span 1;
        }
    }

    &-formCol3to1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1rem;
    }

    &-formCol1to1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &-title {
        grid-row: 1 / span 1;

    }

    &-diaryShiftBtn {
        grid-row: 1 / span 1;
        background-color: $color-white;
        color: $color-primary;
    }

    &-desc {
        grid-row: 2 / span 1;
        resize: none;
    }

    &-tags {
        grid-row: 3 / span 1;
    }

    &-resetBtn {
        grid-row: 4 / span 1;
        margin-right: 3rem;
        align-self: end;
        background-color: $color-white;
        color: $color-grey-light-2;
    }

    &-submitBtn {
        grid-row: 4 / span 1;
        align-self: end;
        background-color: $color-primary;
        color: $color-grey-light-1;
    }

}