@import 'variables';
@import 'mixins';

.unauthorized {
  width: 100%;
  min-height: 100vh;

  background-image: 
  linear-gradient(to right bottom,
  rgb(37, 226, 154), rgb(30, 145, 137));
  color: white;

  @include respond(s) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

}

