@import 'variables';
@import 'mixins';

.myDiaries {
    display: flex;
    justify-content: flex-start;

    @include respond(s) {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    &-diariesList {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        @include respond(xs) {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }

    &-item {
        width: min-content;
        order: -1;
    }
}