@import 'variables';
@import 'mixins';

.imgUploader {

  display: grid;
  grid-template-rows: 25rem 3rem;
  grid-gap: 7rem;
  justify-content: center;
  color: $color-grey-light-2;
  font-size: 1.8rem;
  cursor: pointer;

  @include respond(s) {
    grid-gap: 2rem;
  }


  &-area {
    width: 25rem;
    height: 25rem;
    border: .1rem solid $color-grey-light-2;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-submitBtn {
    align-self: end;
    width: 50%;
    justify-self: center;
    background-color: $color-white;
    color: $color-grey-light-2;
  }

}
