@import 'variables';
@import 'mixins';

.searchWindow {

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem repeat(3, min-content);

  &-desc {
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-grey-light-2;
    text-align: center;
  }

  &-keywords {
    font-weight: 500;
    color: $color-grey-dark-1;
  }

  &-resultList {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

  }

}




